<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <title>Home</title>
</head>
<body ng-app="ToDoList">
  <div ng-controller="MainController">
<!--     <li> {{ list[0] }} </li>
    <li> {{ list[1] }} </li>
    <li> {{ list[2] }} </li> -->
    <div ng-repeat="item in list">
      <li>{{item}}</li>
    </div>
    <input ng-model="addToDo">
    <button ng-click="addItem()">Add</button>
  </div>
  <!-- Modules -->
  <script src="JS/app.js"></script>
  <!-- Controllers -->
  <script src="JS/controllers/MainController.js"></script>
  
</body>
</html>
